<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>User Form</h1>
    <div>
      <form action="/user" method="POST">
        <input type="text" name="name" placeholder="Enter Name" />
        <input type="number" name="age" placeholder="Enter age" />
        <button type="submit">save user</button>
      </form>
    </div>
  </body>
</html>
